.current-exchange-table {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-block {
    height: 310px;
    width: 470px;
    overflow: scroll;
    border-radius: 10px 10px 0 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    color: #fff;
    height: 40px;
}

th:nth-child(-n+3) {
    width: 15%;
}

th:nth-child(4) {
    width: 55%;
}

tbody tr:nth-child(odd) {
    background-color: #f8f6ff;
}

td {
    text-align: center;
    height: 20px;
}

table, th, td {
}

.table-header {
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.delete-button:hover {
    color: red;
    cursor: pointer;
}
